*{
  margin:0px;
  padding:0px;
  font-family: "Roboto";
  box-sizing: border-box;
}
body{
  background-color: aliceblue;
}
.navSection{
  border:1px  solid black;
  display:flex;
  
  justify-content: space-between;
  background-color: black;
  color: white;
  height: 70px;
  padding:20px;
}
.navbar-section {
  position: sticky;
  top: 0;
}
.proSection{
display: flex;
background-color: white;
}
.imgBox{
  width:80%;
  padding:10px;
}
.proImage{
  width: 80%;
}
.proTitle h1{
padding: 10px;
}
.subMenu ul li{
  list-style: none;
  margin:30px;
  margin-top: 10px;
  
}
.subMenu{
  background-color: green;
  color: antiquewhite;
  
  height:50px;
}
.subMenu ul{
  display: inline-flex;
}
.pageSection{
  display: grid;
  grid-template-columns: repeat(4,300px);
  gap:10px;
}
.pageImg{
  width:250px;
  height: 250px;
  padding-top: 20px;
}
.pageImg img {
  width: 80%;
}
.ind-section{
  display:flex;
}
.ind-img{
  width:500px;
  height:500px;
}

.ind-image img{
  width:100%;
}
.ind-details{
  padding: 20px;
}
.space{
  margin: 10px;
}
.ind-detiles button{
  background-color:aqua;
  width: 10rem;
  padding: 10px;
  border-radius: 5px;
  
}
.fullpage{
  display: flex;
}
.pro-selected{
  width:30%;
  border: 1px solid black;
}
.pro-input input{
  margin: 5px;
}
ul li{
  color: white;
}
.cart{
  color: white;
}
.cart span{
  color: orange;
}
